#cloud-config
ssh_authorized_keys:
  - "{{ ssh_pub_key['content'] | b64decode }}"
chpasswd:
  list: |
     root:{{default_password}}
     cloud-user:{{default_password}}
  expire: True
timezone: Europe/Berlin
